# Necessary variables for running tools/configure.sh
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV=y

CONFIG_ARCH_BOARD="basys3"
CONFIG_ARCH_BOARD_BASYS3=y
CONFIG_ARCH_BOARD_COMMON=y

CONFIG_ARCH_CHIP="ibex"
CONFIG_ARCH_CHIP_IBEX=y

# Other
CONFIG_HOST_LINUX=y
CONFIG_RAW_BINARY=y
CONFIG_RISCV_TOOLCHAIN_GNU_RV32=y
CONFIG_DEV_GPIO=y