# Build Setup
CONFIG_HOST_LINUX=y
# CONFIG_DEFAULT_SMALL=y

# System Type
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV=y
CONFIG_ARCH_CHIP="ibex"

# Boot options
CONFIG_BOOT_RUNFROMEXTSRAM=y

# Boot Memory Configuration
CONFIG_RAM_START=0x00100000
CONFIG_RAM_SIZE=524288

# Board Selection
CONFIG_ARCH_BOARD="nexys-video"
CONFIG_ARCH_BOARD_NEXYS_VIDEO=y

# Board-Common Options
CONFIG_ARCH_BOARD_COMMON=y

# RISC-V Options
CONFIG_ARCH_CHIP_IBEX=y
CONFIG_RISCV_TOOLCHAIN_GNU_RV32=y

# Debug Options
# CONFIG_DEBUG_SYMBOLS=y

# Binary Output Formats
CONFIG_RAW_DISASSEMBLY=y
CONFIG_RAW_BINARY=y

# Common Board Options
CONFIG_ARCH_LEDS=y
CONFIG_ARCH_LEDS_CPU_ACTIVITY=y

# IO Expander/GPIO Support
CONFIG_DEV_GPIO=y
CONFIG_DEV_GPIO_NSIGNALS=32

# Clocks and Timers
CONFIG_SYSTEM_TIME64=y

# Timer Driver Support
CONFIG_ONESHOT=y
CONFIG_ALARM_ARCH=y

# Customize Header Files
CONFIG_ARCH_SETJMP_H=y

# Stack and heap information
CONFIG_SCHED_EVENTS=y
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_PTHREAD_STACK_DEFAULT=2048

# RTOS Features
CONFIG_DISABLE_POSIX_TIMERS=n
CONFIG_DISABLE_PTHREAD=n
CONFIG_DISABLE_MQUEUE=n
CONFIG_DISABLE_ENVIRON=n
CONFIG_DEV_NULL=n

# Pthread Options
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_PTHREAD_MUTEX_ROBUST=y
CONFIG_PTHREAD_MUTEX_DEFAULT_PRIO_NONE=y
CONFIG_CANCELLATION_POINTS=y

# Thread Local Storage (TLS)
# CONFIG_TLS_ALIGNED=y
CONFIG_TLS_NELEM=4
CONFIG_TLS_TASK_NELEM=4
CONFIG_TLS_NCLEANUP=4

# Files and I/O
CONFIG_FILE_STREAM=y

# File system configuration
CONFIG_FS_NAMED_SEMAPHORES=y

# Tasks and Scheduling
CONFIG_INIT_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="ostest_main"
CONFIG_SCHED_WAITPID=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SIG_SIGSTOP_ACTION=y
CONFIG_SIG_SIGKILL_ACTION=y
CONFIG_SIG_EVTHREAD=y # only flat build
CONFIG_RR_INTERVAL=200
# CONFIG_SCHED_SPORADIC=y

# Testing
CONFIG_TESTING_OSTEST=y
CONFIG_TESTING_OSTEST_LOOPS=1
CONFIG_TESTING_OSTEST_STACKSIZE=8192
CONFIG_TESTING_OSTEST_NBARRIER_THREADS=8
CONFIG_TESTING_OSTEST_RR_RANGE=10000
CONFIG_TESTING_OSTEST_RR_RUNS=1
CONFIG_TESTING_OSTEST_FPUTESTDISABLE=y