# Arch
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV=y

# Board
CONFIG_ARCH_BOARD="basys3"
CONFIG_ARCH_BOARD_BASYS3=y
CONFIG_ARCH_BOARD_COMMON=y

# Chip
CONFIG_ARCH_CHIP="ibex"
CONFIG_ARCH_CHIP_IBEX=y

# Debug
# CONFIG_DEBUG_SYMBOLS=y
CONFIG_RAW_DISASSEMBLY=y

# IO
CONFIG_ARCH_LEDS=y
CONFIG_ARCH_LEDS_CPU_ACTIVITY=y
CONFIG_DEV_GPIO=y
CONFIG_DEV_GPIO_NSIGNALS=32

# Timer
CONFIG_SYSTEM_TIME64=y
CONFIG_ONESHOT=y
CONFIG_ALARM_ARCH=y

# System
CONFIG_HOST_LINUX=y
CONFIG_RAW_BINARY=y
CONFIG_DEFAULT_SMALL=y
CONFIG_RISCV_TOOLCHAIN_GNU_RV32=y
CONFIG_DEV_NULL=n
CONFIG_RAM_SIZE=131072
CONFIG_RAM_START=0x00100000
CONFIG_BOOT_RUNFROMEXTSRAM=y
CONFIG_INIT_STACKSIZE=2048
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_PTHREAD_STACK_DEFAULT=2048

# Customize Header Files
CONFIG_ARCH_SETJMP_H=y

# Stack and heap information
CONFIG_SCHED_EVENTS=y

# RTOS Features
# CONFIG_DISABLE_POSIX_TIMERS=n
CONFIG_DISABLE_PTHREAD=n
CONFIG_DISABLE_MQUEUE=n
CONFIG_DISABLE_ENVIRON=n

# Pthread Options
# CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_PTHREAD_MUTEX_ROBUST=y
CONFIG_PTHREAD_MUTEX_DEFAULT_PRIO_NONE=y
# CONFIG_CANCELLATION_POINTS=y

# Thread Local Storage (TLS)
# CONFIG_TLS_ALIGNED is not set
# CONFIG_TLS_NELEM=1
CONFIG_TLS_TASK_NELEM=0
# CONFIG_TLS_NCLEANUP=1

# Files and I/O
CONFIG_FILE_STREAM=y

# File system configuration
# CONFIG_FS_NAMED_SEMAPHORES=y

# Tasks and Scheduling
# CONFIG_SCHED_WAITPID=y
# CONFIG_SCHED_HAVE_PARENT=y
# CONFIG_SIG_SIGSTOP_ACTION=y
# CONFIG_SIG_SIGKILL_ACTION=y
# CONFIG_SIG_EVTHREAD=y # only flat build
# CONFIG_RR_INTERVAL=1
# CONFIG_SCHED_SPORADIC=y

# App
CONFIG_INIT_ENTRYPOINT="ostest_main"
CONFIG_TESTING_OSTEST=y
CONFIG_TESTING_OSTEST_LOOPS=1
CONFIG_TESTING_OSTEST_STACKSIZE=8192
CONFIG_TESTING_OSTEST_NBARRIER_THREADS=8
CONFIG_TESTING_OSTEST_RR_RANGE=10000
CONFIG_TESTING_OSTEST_RR_RUNS=1
CONFIG_TESTING_OSTEST_FPUTESTDISABLE=y