# Arch
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV=y
#
# Board
CONFIG_ARCH_BOARD="basys3"
CONFIG_ARCH_BOARD_BASYS3=y
CONFIG_ARCH_BOARD_COMMON=y
#
# Chip
CONFIG_ARCH_CHIP="ibex-ds"
CONFIG_ARCH_CHIP_IBEX_DS=y
#
# Debug
CONFIG_DEBUG_SYMBOLS=y
CONFIG_RAW_DISASSEMBLY=y
#
# IO
CONFIG_ARCH_LEDS=y
CONFIG_ARCH_LEDS_CPU_ACTIVITY=y
CONFIG_DEV_GPIO=y
CONFIG_DEV_GPIO_NSIGNALS=32
#
# System
CONFIG_HOST_LINUX=y
CONFIG_RAW_BINARY=y
CONFIG_DEFAULT_SMALL=y
CONFIG_RISCV_TOOLCHAIN_GNU_RV32=y
CONFIG_DEV_NULL=n
CONFIG_RAM_SIZE=131072
CONFIG_RAM_START=0x00100000
CONFIG_BOOT_RUNFROMEXTSRAM=y
CONFIG_INIT_STACKSIZE=2048
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_PTHREAD_STACK_DEFAULT=2048
# CONFIG_SCHED_TICKLESS=y
#
# Timer
CONFIG_SYSTEM_TIME64=y
CONFIG_ONESHOT=y
CONFIG_ALARM_ARCH=y
#
# App
CONFIG_NSH_LIBRARY=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_NSH_PRIORITY=100
CONFIG_SYSTEM_NSH_STACKSIZE=2048
CONFIG_SYSTEM_NSH_PROGNAME="nsh"
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_ENTRYNAME="nsh_main"
# CONFIG_SCHED_WAITPID=y
#
CONFIG_NSH_DISABLE_ERROR_PRINT=n
CONFIG_LIBC_STRERROR=y
CONFIG_NSH_STRERROR=y
#
# CONFIG_NSH_DISABLE_BASENAME=n
CONFIG_NSH_DISABLE_CAT=n
#
CONFIG_DISABLE_ENVIRON=n
CONFIG_NSH_DISABLE_CD=n
#
# CONFIG_NSH_DISABLE_CP=n
# CONFIG_NSH_DISABLE_CMP=n
# CONFIG_NSH_DISABLE_DATE=n
# CONFIG_NSH_DISABLE_DD=n
# CONFIG_NSH_DISABLE_DF=n
# CONFIG_NSH_DISABLE_DIRNAME=n
CONFIG_NSH_DISABLE_DMESG=n
# CONFIG_NSH_DISABLE_ECHO=n
# CONFIG_NSH_DISABLE_ENV=n
# CONFIG_NSH_DISABLE_EXEC=n
# CONFIG_NSH_DISABLE_EXPR=n
# CONFIG_NSH_DISABLE_EXPORT=n
#
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_EXCLUDE_MEMINFO=n
CONFIG_NSH_DISABLE_FREE=n
# CONFIG_SCHED_IRQMONITOR=y
#
# CONFIG_NSH_DISABLE_UNAME=n
CONFIG_NSH_DISABLE_UPTIME=n
# CONFIG_NSH_DISABLE_HEXDUMP=n
# CONFIG_NSH_DISABLE_KILL=n
CONFIG_NSH_DISABLE_LS=n
# CONFIG_NSH_DISABLE_MV=n
# CONFIG_NSH_DISABLE_MKDIR=n
# CONFIG_NSH_DISABLE_MB=n
# CONFIG_NSH_DISABLE_MH=n
# CONFIG_NSH_DISABLE_MW=n
# CONFIG_NSH_DISABLE_PRINTF=n
#
CONFIG_FS_PROCFS_EXCLUDE_PROCESS=n
CONFIG_NSH_DISABLE_PS=n
#
# CONFIG_NSH_DISABLE_PWD=n
# CONFIG_NSH_DISABLE_RM=n
# CONFIG_NSH_DISABLE_RMDIR=n
# CONFIG_NSH_DISABLE_SET=n
# CONFIG_NSH_DISABLE_SOURCE=n
CONFIG_NSH_DISABLE_SLEEP=n
# CONFIG_NSH_DISABLE_TIME=n
# CONFIG_NSH_DISABLE_TIMEDATE=nset
# CONFIG_NSH_DISABLE_TEST=n
# CONFIG_NSH_DISABLE_TRUNCATE=n
# CONFIG_NSH_DISABLE_UNSET=n
# CONFIG_NSH_DISABLE_UPTIME=n
# CONFIG_NSH_DISABLE_USLEEP=n
# CONFIG_NSH_DISABLE_XD=n
#
CONFIG_NSH_DISABLE_MOUNT=n
CONFIG_NSH_DISABLE_UMOUNT=n
CONFIG_DISABLE_MOUNTPOINT=n
#
# CONFIG_NSH_DISABLE_MKRD=n
#
# CONFIG_BUILTIN=y
# CONFIG_NSH_BUILTIN_APPS=y
#
# SYSLOG
CONFIG_RAMLOG=y
CONFIG_RAMLOG_SYSLOG=y
CONFIG_RAMLOG_BUFSIZE=2048
